node_modules/
.next/
public/
out/
coverage/
build/
.vercel/
docs/
prisma/migrations/
.*
yarn.lock
*.md 


# unknown error: https://github.com/gator-labs/chomp/actions/runs/11805581285/job/32888363843?pr=656
app/components/HistoryHeader/HistoryHeader.tsx