# Ignore Specific Files and Directories for Prettier

# Dependency directories
node_modules/

# Build output directories
dist/
build/
out/

# Logs
logs/
*.log

# Temporary folders
tmp/
temp/

# Environment files
.env
.env.local
.env.*.local

# Misc
stories/
*.md
*.yml
.eslintrc*
__tests__/
.github*
.storybook/
.DS_Store
yarn.lock