@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  body {
    margin: 0;
  }

  .home-feed-swiper-slide {
    @apply !h-auto;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .questions-card {
    @apply bg-gray-800 min-h-[304px] w-full rounded-xl px-4 py-6 flex flex-col justify-between border-[0.5px] border-gray-600;
  }
  .loading-line-animation {
    animation: loadingLine 4s linear;
  }
}

.svg-active-fill {
  svg,
  path {
    fill: #d6fcf4;
  }
}

.react-datepicker-wrapper {
  @apply text-input-gray;
}

.react-datepicker__input-container {
  input {
    @apply rounded;
  }
}

:root {
  --rsbs-max-w: 30rem;
}

[data-rsbs-overlay],
[data-rsbs-state] {
  @apply !mx-auto !bg-gray-800;
}
[data-rsbs-state]::after {
  @apply !mx-auto !bg-gray-800;
}

.bulleted-list {
  list-style-type: disc;
  padding-left: 20px;
}

.bulleted-list li {
  margin-bottom: 5px;
}
